@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*===========================
        STYLE GUIDE
1. :ROOT
2. GENERAL STYLES
3. HERO STYLE
===========================*/

/* ------ 1. :ROOT CLASS ------*/
:root{
    --padding-container: 80px 0;
    --color-primary: #f77062;
    --color-secondary: #1b998b;
    --color-bg:#fafafa;
    --align-title: center;
    --box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}
/* ----------- 2. <<END>> :ROOT CLASS -----------*/
body{
    font-family: "Lato", sans-serif;
}
*{
    /* outline: 1px solid red; */
}
.container{
    max-width: 1200px;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    padding: var(--padding-container);
}




/* ------ 2. HERO STYLE CLASS ------*/
.hero{
    --padding-container: 0;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    height: 100vh;
}
.hero__main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    width: 100%;
    height: 100%;
}
.hero__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero__img{
    width: 45%;
    text-align: center;
    margin: 0;
}
.hero__picture{
    height: 100%;
    width: 100%;   
}
.hero__text{
    width: 45%;
    color: #fff;
}
.hero__title{
    font-size: 4rem;
}
.hero__copy{
    font-size: 1.5rem;
    font-weight: 300;
}
/* ----------- 2. <<END>> HERO STYLE CLASS -----------*/



/* ------ 2. ABOUT CLASS ------*/
.title{
    color: var(--color-primary);
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 40px;
    text-align: var(--align-title);
}
.about__main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.about__text{
    width: 50%;
    text-align: left;
}
.about__img{
    width: 45%;
    text-align: center;
    margin: 0;
}
.about__picture{
    max-width: 80%;
}
.about__paragraph{
    line-height: 1.8rem;
}
.cta{
    display: inline-block;
    background: var(--color-primary);
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    padding: 1rem 2rem;
    margin-top: 2rem;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
/* ----------- 2. <<END>> ABOUT CLASS -----------*/



/* ------ 2. PORTFOLIO CLASS ------*/
.portfolio{
    background: var(--color-bg);
}
.portfolio__cards{
    display: flex;
    padding: 40px 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.portfolio__card{
    width: 27%;
    background: #fff;
    height: auto;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.portfolio__card__img{
    margin: 0;
    width: 100%;
}
.portfolio__card__picture{
    width: 100%;
    display: block;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}
.portfolio__text{
    padding: 30px 20px 40px;
}
.portfolio__title{
    font-size: 1.5rem;
    text-align: center;
    color: var(--color-secondary);
    margin: 0;
}
.portfolio__paragraph{
    font-weight: 300;
    margin: 30px 0;
}
.portfolio__cta{
    background-color: var(--color-secondary);
    color: #fff;
    padding: 15px 0;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 300;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
/* ----------- 2. <<END>> PORTFOLIO CLASS -----------*/



/* ------ 2. COPY CLASS ------*/
.copy{
    background-color: var(--color-primary);
}
.copy__text{
    --color-primary: #fff;
    color: #fff;
}
.title-margin{
    margin: 0;
}
/* ----------- 2. <<END>> COPY CLASS -----------*/

/* ------ 2. GALLERY CLASS ------*/
.gallery__container{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.gallery__picture{
    width: 30%;
    height: 250px;
    margin-bottom: 20px;
    display: block;
    object-fit: cover;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


/* ----------- 2. <<END>> GALLERY CLASS -----------*/



/* ------ 2. LANGUAGES CLASS ------*/
.languages{
    background-color: var(--color-bg);
}
.languages__container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.languages__picture{
    width: 20%;
    height: 100px;
}
/* ----------- 2. <<END>> LANGUAGES CLASS -----------*/



/* ------ 2. FOOTER CLASS ------*/
.footer{
    background-color: var(--color-primary);
    text-align: center;
    color: white;
}
.footer__container{
    --color-primary: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer__texts{
    width: 50%;
}
.footer__icon{
    display: inline-block;
    font-size: 2rem;
    color: white;
    margin: 0 30px;
    margin-bottom: 30px;
    text-decoration: none;
    width: 60px;
    height: 60px;
    border: 1px solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.footer__icon.fa-brands{
    line-height: 60px;
}
.footer__icon:hover{
    background-color: #fff;
    color: #f77062;
    border: 1px solid #fff;
    cursor: pointer;
}
.footer__img{
    width: 35%;
    margin: 0;
}
.footer__copy{
    width: 90%;
    display: block;
    margin: 0 auto;
}

.footer__link{
    display: inline-block;
    color: #fff;
    margin: 0 20px;
    margin-bottom: 15px;
}
.footer__link:hover{
    text-decoration: none;
}


/* ----------- 2. <<END>> FOOTER CLASS -----------*/